@import "../mixins/mixins";

.home {
    position: absolute;
    top: 0;
    left: 13rem;
    right: 13rem;
    bottom: 0;

    @include respond(mq-992) {
        left: 8rem;
        right: 8rem;
    }

    @include respond(mq-768) {
        left: 4rem;
        right: 4rem;
    }

    .details {
        position: absolute;
        top: 45%;
        left: -7rem;
        transform: translate(0%, -50%);

        @include respond(mq-992) {
            left: -4rem;
            top: 30%;
        }

        @include respond(mq-768) {
            top: 20%;
            left: -3rem;
        }

        .persons-profession-animate {
            animation: animate-profession-animate 1s
                cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards 1;
        }

        @keyframes animate-profession-animate {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.details {
    z-index: 100;
}

.read-more,
.read-more-animate {
    background: black;
    height: 5.5rem;
    width: 25rem;
    position: absolute;
    top: 85%;
    right: 0;
    opacity: 1;
    transform: translate(30%, -50%);

    @include respond(mq-1200) {
        right: 0rem;
        height: 4.8rem;
        width: 23rem;
    }

    @include respond(mq-992) {
        right: 3rem;
    }

    @include respond(mq-768) {
        right: 3rem;
        height: 4.3rem;
        width: 20rem;
    }
}

.read-more-animate {
    animation: animate-read-more 0.5s 0s forwards;

    @keyframes animate-read-more {
        0% {
            opacity: 1;
            transform: translate(40%, -50%);
        }
        100% {
            opacity: 0;
            transform: translate(200%, -50%);
        }
    }
}

.read-more-line,
.read-more-line--no-width {
    height: 1px;
    background: white;
    position: absolute;
    top: 48%;
    left: -35%;
    transform: translateY(-50%, 50%);
    transition: 0.3s;

    @include respond(mq-1200) {
        left: -30%;
    }
}

.read-more-line {
    width: 18.75rem;

    @include respond(mq-1200) {
        width: 16.5rem;
    }

    @include respond(mq-768) {
        width: 14.2rem;
    }
}

.read-more-line--no-width {
    width: 0rem;
}

.read-more-text {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    color: white;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    transition: 0.3s;

    @include respond(mq-1200) {
        font-size: 1.2rem;
    }

    @include respond(mq-768) {
        font-size: 1rem;
        transform: translate(-1%, -50%);
    }
}

.read-more:hover {
    .read-more-line {
        width: 31.7rem;

        @include respond(mq-1200) {
            width: 28.3rem;
        }

        @include respond(mq-768) {
            width: 24.5rem;
        }
    }

    .read-more-text {
        left: 50%;
        top: 50%;
        transform: translate(-15%, -50%);
    }
}

.persons-profession {
    font-size: 2.4rem;
    font-family: "Fanwood Text", serif;

    @include respond(mq-1200) {
        font-size: 2.2rem;
    }

    @include respond(mq-768) {
        font-size: 2rem;
    }
}

.fullname {
    margin-bottom: 2rem;
    width: 100%;

    @include respond(mq-1200) {
        margin-bottom: 1.5rem;
    }

    .firstname,
    .lastname {
        padding: 0 1rem 0 0;
        overflow: hidden;
        p {
            position: relative;
            font-size: 4rem;
            font-weight: 700;
            line-height: 4.5rem;

            @include respond(mq-1200) {
                font-size: 3.6rem;
                line-height: 4rem;
            }

            @include respond(mq-768) {
                font-size: 3.4rem;
                line-height: 3.5rem;
            }
        }
    }

    .firstname-animation {
        -webkit-animation: animate-first-name 0.6s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0.6s forwards;
        -moz-animation: animate-first-name 0.5s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0.6s forwards;
        -o-animation: animate-first-name 0.5s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0.6s forwards;
        animation: animate-first-name 0.6s cubic-bezier(0.46, 0.02, 0.36, 1.04)
            0s forwards;
    }

    .lastname-animation {
        -webkit-animation: animate-last-name 0.75s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        -moz-animation: animate-last-name 0.75s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        -o-animation: animate-last-name 0.75s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        animation: animate-last-name 0.75s cubic-bezier(0.46, 0.02, 0.36, 1.04)
            0s forwards;
    }

    .fullname-line,
    .fullname-line-animate {
        margin-top: 1rem;
        border-bottom: 8px solid black;
        width: 100%;

        @include respond(mq-992) {
            margin-top: 0.5rem;
            border-bottom: 5px solid black;
        }
    }

    .fullname-line-animate {
        -webkit-animation: animate-full-name-line 1s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        -moz-animation: animate-full-name-line 1s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        -o-animation: animate-full-name-line 1s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
        animation: animate-full-name-line 1s
            cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s forwards;
    }

    @-webkit-keyframes animate-first-name {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-moz-keyframes animate-first-name {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-o-keyframes animate-first-name {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @keyframes animate-first-name {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-webkit-keyframes animate-last-name {
        0% {
            transform: translateY(0%);
        }
        25% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-moz-keyframes animate-last-name {
        0% {
            transform: translateY(0%);
        }
        25% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-o-keyframes animate-last-name {
        0% {
            transform: translateY(0%);
        }
        25% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @keyframes animate-last-name {
        0% {
            transform: translateY(0%);
        }
        25% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @-webkit-keyframes animate-full-name-line {
        0% {
            width: 100%;
        }
        25% {
            width: 0%;
        }
        50% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @-moz-keyframes animate-full-name-line {
        0% {
            width: 100%;
        }
        25% {
            width: 0%;
        }
        50% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @-o-keyframes animate-full-name-line {
        0% {
            width: 100%;
        }
        25% {
            width: 0%;
        }
        50% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes animate-full-name-line {
        0% {
            width: 100%;
        }
        25% {
            width: 0%;
        }
        50% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}

.slider-details-links-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 18rem;

    @include respond(mq-1200) {
        padding: 0 7.1rem;
    }
    @include respond(mq-992) {
        padding: 0 4rem;
    }

    @include respond(mq-768) {
        padding: 0 3rem;
    }
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    height: 73vh;
    width: 100%;
    transform: translate(-50%, -50%);

    @include respond(mq-992) {
        height: 75vh;
    }

    @include respond(mq-992) {
        height: 80vh;
    }
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .slider-grey-background {
        position: absolute;
        width: 200%;
        height: 100%;
        background-color: rgb(247, 247, 247);
        z-index: 100;
        transform: translateX(-100%);
    }

    .animate-grey-background {
        animation: slideBackground 1.25s cubic-bezier(0.46, 0.02, 0.36, 1.04) 0s
            1 backwards;

        @keyframes slideBackground {
            0% {
                transform: translateX(-100%);
            }
            50% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(100%);
            }
        }
    }
    .slider-img-background {
        width: 100%;
        height: 100%;
        // background-image: url("http://whydesign.ie/wp-content/uploads/2018/02/IMG_7907_edit-1920x1371.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.slider-nav {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    width: 100%;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    align-items: baseline;

    @include respond(mq-992) {
        bottom: 3vh;
    }

    .slider-left-arrow,
    .slider-right-arrow {
        padding: 1rem;
        cursor: pointer;

        @include respond(mq-768) {
            padding: 0.75rem;
        }
    }

    .slider-counter-container {
        margin: 0 2.5rem;

        @include respond(mq-768) {
            margin: 0 1.5rem;
        }

        .slider-counter {
            display: flex;
        }

        .slider-count-number {
            font-weight: 900;
            @include respond(mq-768) {
                font-size: 1.4rem;
            }
        }

        .slider-counter-container-of {
            margin: 0 1rem;
            font-family: "Fanwood Text", serif;

            @include respond(mq-768) {
                font-size: 1.4rem;
            }
        }
    }
}

.fa {
    pointer-events: none;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 2rem;
    color: $mid-grey;

    @include respond(mq-768) {
        font-size: 1.6rem;
    }
}
